.suggestionItemFocused {
    background-color: grey;
}

.incomplete {
    border-bottom: 2px dotted #BFBFBF;
    border-radius: 2px;
}

.table_name {
    background-color: #e6f3ff;
    border-radius: 2px;
}

.table_name:hover {
    background-color: transparent;
    border-radius: 2px;
}

.operator {
    background-color: #E0E0E0;
}

.measure {
    border-bottom: 2px dotted #81D4FF;
    border-radius: 2px;
}

.token-close-btn {
    display: none;
    /* display: inline-block; */
    position: relative;
    width: 14px;
    height: 14px;
    text-align: center;
    padding: 5px 2px 0px 2px;
    font-size: 14px;
    font-weight: 900;
    top: -8px;
    right: 0px;
    /* content: "\00d7"; */
    border-radius: 50%;
    cursor: pointer;
    background: #616161;
    z-index: 1;
    line-height: 10px;
    color: #fff;
}

.token-close-container:hover .token-close-btn{
    display: inline-block;
}
.token-close-container {
    display: inline;
}
.removed {
    /* max-width: 0px; */
    transform: scale(0);
    transition: transform 0.2s ease-out, width 0.2s ease-out 0.2s;
}

/* generic token style */
.token-close-container{
    font-size: 15px;
    font-family: Regular,helvetica neue,helvetica,Arial,sans-serif;
    line-height: 20px;
    border-radius:3px;
    border-right: none;
    word-wrap: break-word;
    padding: 4px;
}
